@import "/assets/scss/mixins.module.scss";
@import "/assets/scss/base.module.scss";

.page {
  @extend .base-screen;

  > .main {
    @extend .absolute-main-content;
    top: 2rem;
    max-height: calc(100vh - 4rem);
    width: 100vw;
    overflow: auto;

    > .heading {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: calc(100vw - 4rem);
      gap: 0.5rem;

      @include breakpoint(md) {
        width: 40rem;
        margin-top: 20rem;
      }
    }

    > .creation-plan {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      @include breakpoint(md) {
        flex-direction: row;
      }
    }
  }

  > .sub-bg {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
  }
}
