.page {
  background-image: url('/page-bg.png');
  background-size: cover;
  flex: 1;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  > .loading-animated {
    position: relative;
    height: 100vh;
    width: 100vw;

    > .way-1 {
      height: 300px;
      width: 300px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
      position: absolute;
      animation: rotate 10s linear infinite;
    }

    > .way-2 {
      height: 400px;
      width: 400px;
      top: 50%;
      left: 50%;
      object-fit: contain;
      position: absolute;
      animation: rotate 11s linear infinite;
    }

    > .way-3 {
      height: 550px;
      width: 550px;
      top: 50%;
      left: 50%;
      object-fit: contain;
      position: absolute;
      animation: rotate 12s linear infinite;
    }

    > .logo {
      height: 300px;
      width: 300px;
      top: 50%;
      left: 50%;
      object-fit: contain;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
