@import "/assets/scss/mixins.module.scss";
@import "/assets/scss/base.module.scss";

.page {
  @extend .base-screen;

  > .main {
    @extend .absolute-main-content;
    width: 100vw;
    overflow: auto;
    top: 2rem;
    max-height: calc(100vh - 2rem);
    display: flex;
    padding: 1rem 2rem;

    @include breakpoint(md) {
      top: 4rem !important;
      width: calc(80vw);
    }

    > .header {
      display: flex;
      gap: 2rem;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      @include breakpoint(md) {
        flex-direction: row;
      }
    }
  }

  > .sub-bg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
}
